.container{
    display: grid; 
    margin: 0;
    padding: 0;

    grid-template-columns: 1fr 6fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
        "topbar topbar"
        "sidebar map";
}

topbar {
    grid-area: topbar;
}

sidebar {
    grid-area: sidebar;    
}

maps{
    grid-area: map;
}